<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Loginpage</servlet-name>
  	<display-name>Loginpage</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Loginpage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Loginjdbc</servlet-name>
  	<display-name>Loginjdbc</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Loginjdbc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dfd</servlet-name>
  	<display-name>dfd</display-name>
  	<description></description>
  	<servlet-class>org.ncu.dfd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registrationjdbc</servlet-name>
  	<display-name>Registrationjdbc</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Registrationjdbc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>home</servlet-name>
  	<display-name>home</display-name>
  	<description></description>
  	<servlet-class>org.ncu.home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Centres</servlet-name>
  	<display-name>Centres</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Centres</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Paper</servlet-name>
  	<display-name>Paper</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Paper</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Password</servlet-name>
  	<display-name>Password</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Password</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Bookingjdbc</servlet-name>
  	<display-name>Bookingjdbc</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Bookingjdbc</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Booking</servlet-name>
  	<display-name>Booking</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Booking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Status</servlet-name>
  	<display-name>Status</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Status</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>org.ncu.Update</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Loginpage</servlet-name>
  	<url-pattern>/Loginpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Loginjdbc</servlet-name>
  	<url-pattern>/Loginjdbc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dfd</servlet-name>
  	<url-pattern>/dfd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registrationjdbc</servlet-name>
  	<url-pattern>/Registrationjdbc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Centres</servlet-name>
  	<url-pattern>/Centres</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Paper</servlet-name>
  	<url-pattern>/Paper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Password</servlet-name>
  	<url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Bookingjdbc</servlet-name>
  	<url-pattern>/Bookingjdbc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Booking</servlet-name>
  	<url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Status</servlet-name>
  	<url-pattern>/Status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>
